.dashboard {
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	padding: 40px 20px 20px 20px;
}

/* StateCardとFilterCardで使用 */
.cardscontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* StateCardとFilterCardで使用 */
.statecardwrapper {
	width: calc(33.33% - 1.6rem); /* こちらを変更 */
	box-sizing: border-box;
	margin-bottom: 1.2rem;
}

/* StateCardで使用 */
.lowercards {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 1.2rem;
}

/* FilterCardで使用  */
.selectcontent {
	display: flex;
	align-items: center;
	height: 100%;
	margin-top: 1.2rem;
}

.lowercards2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 1.2rem;
}

.statecardwrapper2 {
	width: calc(77% - 1.6rem);  /* AreaChartの横幅を少し小さく */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.largecard {
	width: calc(26% - 1.6rem); /* PieChartの横幅を少し大きく */
	box-sizing: border-box;
	text-align: center;
}

.fullwidthcard {
    width: 100%;
    box-sizing: border-box;
}

.bigText {
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.smallText {
    font-size: 20px; /* 任意のサイズに設定 */
}

.container {
  padding: 0px 40px 20px 40px;
}

.chartTitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 16px;
  align-self: flex-start;
}
